* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: SFPro-Light, Roboto-Thin, Calibri;
}

body {
    margin: 0;
    height: 100vh;
    background-color: $bgc-clr;

    #root {
        height: inherit;
    }
}

h1,
p {
    color: $primary-clr;
}

main section {
    padding-block: rem(95px);
    margin-inline: $xl-size;
    height: inherit;
}

@media (min-width: 768px) {
    main section {
        padding-inline: $xm-size;
    }
}

@media (min-width: 1080px) {
    main section {
        padding-inline: $xl-size;
    }
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
}