* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  Livvic, Roboto-Thin, Calibri;
}

body {
    margin: 0;
    height: 100vh;
    background-color: $bgc-clr;

    .overlay {
        position: absolute;
        background-repeat: repeat;
        opacity: 0.3;
        top: 0;
    }

    #root {
        height: inherit;
        position: relative;
        z-index: 100;
    }
}

h1 {
    @include pageHeader;
}


main section {
    padding-block: rem(100px);
    margin-inline: $xl-size;
    height: inherit;
}

@media (min-width: 768px) {
    main section {
        padding-inline: $xm-size;
    }
}

@media (min-width: 1080px) {
    main section {
        padding-inline: $xl-size;
    }
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    padding: 0;
    list-style-type: none;
}

button {
    @include btn;
}