footer {
    background-color: $bgc-content-clr;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 5;

    span {
        font-family: SFPro-Reg, Roboto-Thin, Tahoma;
    }
}