footer {
    background-color: $hf-bgc-clr-mobile;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 5;
    color: $primary-clr;
}

@media (min-width: 768px) {
    footer {
        background-color: $hf-bgc-clr;
    }
}