header {
    height: rem(60px);
    background-color: $header-bgc-clr;

    .logo-and-nav {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-inline: $xmedium-size;

        .logo,
        .header-nav-links {
            color: $header-txt-clr;
        }

        .logo {
            h1 {
                font-family: roboto-thin;
            }
        }

        .header-nav-links {
            display: none;

            .links {
                gap: $xmedium-size;
            }
        }
    }

    .menu-links-nav {
        background-color: $bgc-content-clr;
        height: fit-content;
        padding-block: $xmedium-size;
        position: fixed;
        bottom: 0;
        width: 100%;

        .links {
            grid-template-columns: repeat(auto-fit, minmax(43px, 1fr));
            justify-items: center;
            align-content: center;
            height: 100%;
            gap: $medium-size;

            li {
                color: $txt-clr;
                text-transform: capitalize;
            }
        }
    }
}

@media (min-width: 768px) {

    header {

        .logo-and-nav {
            justify-content: space-between;
            align-items: center;

            .header-nav-links {
                display: block;
            }
        }

        .menu-links-nav {
            display: none;
        }
    }
}

@media (min-width: 1080px) {

    header {

        .logo-and-nav {
            padding-inline: $xxlarge-size;

            .header-nav-links {
                .links {
                    gap: $xxlarge-size;
                }
            }
        }
    }
}