.socials {
    display: none;

    span::before {
        font-family: fa-brands;
    }

    .linkedin::before {
        content: '\f0e1';
    }

    .x::before {
        content: '\e61b';
    }

    .github::before {
        content: '\f09b';
    }
}

@media (min-width: 768px) {
    .socials {
        display: flex;
        gap: $xmedium-size;
        position: absolute;
        z-index: 10;
        right: $s-size;
        top: 50%;
        transform: translateY(-50%);

        a {
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.3);
            }

            span {
                font-size: $large-size;

                color: $secondary-clr;
                cursor: pointer;

                &:hover {
                    color: $primary-clr;
                }
            }
        }
    }
}