@mixin pageHeader {
    font-family: SFPro-Reg;
    font-size: $xxl-size;
    text-align: center;
    color: $primary-clr;
    margin-block-end: $l-size;
}

@mixin contentPara {
    text-align: center;
    font-size: 1.75rem;
    margin-block-start: $s-size;
    line-height: 2.5rem;
}

@mixin desktopPageHeader {
    font-size: $xxl-size;
}

@mixin desktopContentPara {
    font-size: $l-size;
    line-height: $xl-size;
}

@mixin btn {
    background-color: $primary-clr;
    color: $hf-txt-clr;
    border-radius: $xxs-size;
    display: inline-block;
    padding: $s-size $l-size;
    text-align: center;
    transition: all 200ms;
    transition: transform 1.2s all;

    &:hover {
        background-color: $primary-clr;
        transform: scale(1.2);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, $secondary-clr2 0px 0px 0px 2px;
    }
}