@mixin pageHeader {
    font-size: $xxl-size;
    padding-bottom: 8px;
    color: $primary-clr;
    margin-block-end: $l-size;
    border-bottom: 8px solid transparent;
    border-image-source: url('/src/assets/pics/bgc/1.png');
    border-image-slice: 1;
    border-image-repeat: repeat;
}

@mixin contentPara {
    text-align: center;
    font-size: $xxm-size;
    line-height: 2.5rem;
    color: $txt-clr;
}

@mixin desktopPageHeader {
    font-size: $xxl-size;
}

@mixin desktopContentPara {
    line-height: 2.5rem;
}

@mixin btn {
    background-color: $primary-clr;
    color: $hf-txt-clr;
    border-radius: $xxs-size;
    display: inline-block;
    padding: $s-size $l-size;
    text-align: center;
    transition: all 200ms;
    transition: transform 1.2s all;
    cursor: pointer;

    &:hover {
        background-color: $primary-clr;
        transform: scale(1.2);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, $secondary-clr2 0px 0px 0px 2px;
    }
}