@font-face {
    font-family: SFPro-bold;
    src: url('../../assets/fonts/SFProBold.otf');
}

@font-face {
    font-family: SFPro-light;
    src: url('../../assets/fonts/SFProLight.otf');
}

@font-face {
    font-family: SFPro-medium;
    src: url('../../assets/fonts/SFProMedium.otf');
}

@font-face {
    font-family: SFPro-reg;
    src: url('../../assets/fonts/SFProRegular.otf');
}

@font-face {
    font-family: SFPro ultralight;
    src: url('../../assets/fonts/SFProUltralight.otf');
}