@font-face {
    font-family: SFPro-Bold;
    src: url('/src/assets/fonts/SFProBold.otf');
}

@font-face {
    font-family: SFPro-Light;
    src: url('/src/assets/fonts/SFProLight.otf');
}

@font-face {
    font-family: SFPro-Medium;
    src: url('/src/assets/fonts/SFProMedium.otf');
}

@font-face {
    font-family: SFPro-Reg;
    src: url('/src/assets/fonts/SFProRegular.otf');
}

@font-face {
    font-family: SFPro-Ultralight;
    src: url('/src/assets/fonts/SFProUltralight.otf');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('/src/assets/fonts/Roboto-Thin.ttf');
}