@font-face {
    font-family: Roboto-Thin;
    src: url('/src/assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: fa-brands;
    src: url('/src/assets/fonts/fa-brands.ttf');
}

@font-face {
    font-family: Livvic;
    src: url('/src/assets/fonts/Livvic-Light.ttf');
}