// Colors
$primary-color: #1E3A8A;
$bgc-content-color: #F3F4F6;
$secondary-color: #0EA5E9;
$hover-color: #8B5CF6;
$white: #fff;
$txt-color: #374151;

// Sizes
$xxs-size: 0.25rem;
$xs-size: 0.5rem;
$s-size: 0.75rem;

$medium-size: 1rem;
$xmedium-size: 1.25rem;
$xxmedium-size: 1.5rem;

$large-size: 2rem;
$xlarge-size: 3rem;
$xxlarge-size: 4rem;