// Colors
$primary-color: #007BFF;
$secondary-color: #068fff;
$bgc-content-color: #F3F4F6;
$header-txt-clr: #ffffffcc;
$header-bgc-clr: #161617cc;
$white: #fff;
$txt-color: #000000e0;

// Sizes
$xxs-size: 0.25rem;
$xs-size: 0.5rem;
$s-size: 0.75rem;

$medium-size: 1rem;
$xmedium-size: 1.25rem;
$xxmedium-size: 1.5rem;

$large-size: 2rem;
$xlarge-size: 3rem;
$xxlarge-size: 4rem;