// COLORS
$primary-clr: #c843f2;
$primary-clr2: #b023d7;
$secondary-clr: #9419b2;
$secondary-clr2: #7b1791;
$bgc-clr: #f8e8ff;
$hf-txt-clr: #ffffffcc;
$hf-bgc-clr: #161617cc;
$hf-bgc-clr-mobile: #161617;
$white: #fff;
$txt-clr: #000000e0;

// SIZES
$xxs-size: 0.25rem;
$xs-size: 0.5rem;
$s-size: 0.75rem;

$m-size: 1rem;
$xm-size: 1.25rem;
$xxm-size: 1.5rem;

$l-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;