.about {

    .txt-and-stack {

        .txt {

            h1 {
                font-family: SFPro-Reg;
                font-size: $xxl-size;
                text-align: center;
                margin-block-start: $l-size;
            }

            p {
                text-align: center;
                font-size: $xm-size;
                margin-block-start: $s-size;
                line-height: $l-size;
            }
        }
    }

    .stack {

        margin-block: $l-size;

        .tech-icons {
            gap: $xxm-size;
            grid-template-columns: repeat(3, minmax(65px, 1fr));
            width: 100%;

            li img {
                width: 100%;
                object-fit: contain;
                display: block;
                transition: transform .3s ease;

                &:hover {
                    transform: scale(.8);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .about {

        .stack {

            .tech-icons {
                grid-template-columns: repeat(4, minmax(65px, 150px));
            }
        }
    }
}

@media (min-width: 1080px) {
    .about {

        .stack {

            .tech-icons {
                justify-content: space-evenly;
                gap: $l-size;
                grid-template-columns: repeat(4, minmax(65px, 140px));
            }
        }
    }
}