.contact {

    form {
        gap: $xs-size;

        label {
            font-weight: bold;
            font-size: $m-size;
            color: $hf-bgc-clr-mobile;
        }

        input,
        textarea {
            padding-block: $m-size;
            padding-inline: $s-size;
            width: 70vw;
            max-width: rem(594px);
            border: 0.5px solid $primary-clr2;
            border-radius: $xxs-size;

        }

        input:focus,
        textarea:focus {
            outline: 1px solid $primary-clr;
        }

        textarea {
            resize: none;
        }

        input {
            margin-block-end: $xxm-size;
        }

        button {
            align-self: center;
            margin-block-start: $l-size;
            @include btn;
        }
    }
}