.home {

    .txt-and-img {
        height: 70vh;
        grid-template-rows: repeat(2, 55%);
        justify-items: center;
        gap: $s-size;

        .txt {
            color: $primary-clr1;
            gap: $s-size;

            h1 {
                @include pageHeader;
            }

            h3 {
                font-size: $l-size;
                text-align: center;
            }

            p {
                @include contentPara;
                padding-inline: $s-size;
            }
        }

        img {
            object-fit: contain;
            max-width: 100%;
            display: block;
            height: 100%;
        }
    }
}

@media (min-width: 768px) {
    .home {

        .txt-and-img {

            .txt {
                h1 {
                    @include desktopPageHeader;
                }

                h3 {
                    font-size: 2.5rem;
                }
    
                p {
                    @include desktopContentPara;
                }
            }
        }
    }
}

@media (min-width: 1080px) {
    .home {

        .txt-and-img {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            gap: $xxl-size;
        }
    }
}