.home {

    .txt-and-img {
        height: 75vh;
        grid-template-rows: repeat(2, 55%);
        gap: $m-size;

        .txt {
            color: $secondary2-clr;
            gap: $s-size;

            h1 {
                font-family: SFPro-Reg;
                font-size: $xxl-size;
                text-align: center;
                margin-block-start: $l-size;
            }

            h3 {
                font-size: $l-size;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: $xm-size;
                margin-block-start: $s-size;
                line-height: $l-size;
                padding-inline: $s-size;
            }
        }

        img {
            object-fit: contain;
            max-width: 100%;
            display: block;
            height: 100%;
        }
    }
}

@media (min-width: 1080px) {
    .home {

        .txt-and-img {
            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
            gap: $xxl-size;
        }
    }
}