.projects {

    ul {
        gap: $xl-size;
        justify-content: center;
        margin-block-start: rem(65px);
    }

    li {
        gap: $xm-size;
        max-width: 70vw;

        h3 {
            text-transform: capitalize;
            font-size: $xxm-size;
            color: $secondary-clr;
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }

        p {
            font-size: $xm-size;
        }

        a, p {
            color: $txt-clr;
        }

        a:hover {
            font-weight: bold;
        }
    }
}

@media (min-width: 768px) {
    .projects {

        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1080px) {
    .projects {

        ul {
            grid-template-columns: repeat(3, 1fr);

            li {
                height: 100%;
                justify-content: space-between;
            }
        }
    }
}