.projects {

    ul {
        gap: $xl-size;
        justify-content: center;
        margin-block-start: rem(65px);
    }

    li {
        gap: $xm-size;
        max-width: 70vw;

        h3 {
            text-transform: capitalize;
            font-size: $xxm-size;
            color: $secondary-clr;
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }

        a, p {
            color: $txt-clr;
        }

        a:hover {
            font-weight: bold;
        }
    }
}

@media (min-width: 768px) {
    .projects {

        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (min-width: 1080px) {
    .projects {

        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}


// <section className="projects">
// <h1>Projects</h1>
// <ul className="container grid">
//     {
//         projects.map(project => {
//             return (
//                 <li className="project">
//                     <h3>{(project.name).replaceAll('-', ' ')}</h3>
//                     <img src={`/src/assets/pics/projects/${project.name}.png`} alt={project.name} title={project.name} />
//                     <p>{project.desc}</p>
//                     <a href={project.link}>Move to project</a>
//                 </li>
//             )
//         })
//     }
// </ul>

// </section>