.projects {

    ul {
        gap: $xl-size;
        justify-content: center;
    }

    li {

        gap: $xm-size;
        max-width: 70vw;

        h3 {
            text-transform: capitalize;
            font-size: $xm-size;
            color: $txt-clr;
        }

        img {
            object-fit: contain;
            max-width: 100%;
        }
    }
}

// <section className="projects">
// <h1>Projects</h1>
// <ul className="container grid">
//     {
//         projects.map(project => {
//             return (
//                 <li className="project">
//                     <h3>{(project.name).replaceAll('-', ' ')}</h3>
//                     <img src={`/src/assets/pics/projects/${project.name}.png`} alt={project.name} title={project.name} />
//                     <p>{project.desc}</p>
//                     <a href={project.link}>Move to project</a>
//                 </li>
//             )
//         })
//     }
// </ul>

// </section>