.resume {
    
    &,
    .lang-btns {
        gap: $xxm-size;
    }

    button {
        @include btn;
    }

    img {
        object-fit: contain;
        width: 100%;
        max-width: 700px;
        border: 0.5px solid $primary-clr1;
    }
}
